/node_modules
/public/hot
/public/storage
resources/js/api-instagram.json
/public/css
/public/js
/public/images
/public/admin/images
/public/admin/css/custom
/public/admin/js/custom
/storage/*.key
/vendor
/.idea

.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.htaccess
phpinfo.php
*.DS_Store
__MACOSX/
.user.ini
php.ini

*.sql
